<script src="https://giscus.app/client.js"
        data-repo="chen3feng/chen3feng.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNjI4MDc3Mw=="
        data-category="Blog Comments"
        data-category-id="DIC_kwDOAPhsxc4Cs9pa"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
